:root {
  --tic-branding-color: #5f2eea;
  --tic-branding-color-middle: #7b0ed4c9;
  --tic-branding-hover-color: #4b27af;
  --tic-branding-gradient: linear-gradient(120deg, #4b19db, #d000cc);
  --tic-branding-gradient-hover: linear-gradient(120deg, #2d00b6, #aa00a7);
  --tic-color-muted: #6E7191;
  --tic-color-section: #f5f6f8;
  --tic-color-black: #14142b;
  --tic-color-black-absolute: #000;
  --tic-color-nav: #414141;
}

body {
  margin: 0px;
  font-family: "Mulish", sans-serif;

  /* hide scrollbar on chromium base browser */
  ::-webkit-scrollbar {
    display: none;
  }

  /* IE 11 */
  -ms-overflow-style: none;

  /* Firefox 64 */ 
  scrollbar-width: none; 
}

body a {
  text-decoration: none;
}

/* general components */

#input-email {
  color: white;
  background-image: var(--tic-branding-gradient);
  border: unset;
}

#signin-button {
  color: var(--tic-branding-color-middle);
  border-color: var(--tic-branding-color-middle);
  /* i thing it's will broke in some devices */
  margin-right: 5px;

}

#signin-button:hover {
  color: white;
  background-color: var(--tic-branding-color-middle);
  
}

#signup-button {
  color: white;
  background-image: var(--tic-branding-gradient);
  border: unset;
}

#signup-button:hover {
  background-image: var(--tic-branding-gradient-hover);
  border: unset;
}

.text-indicator {
  padding-bottom: 7px;
  border-bottom: 3px solid var(--tic-branding-color-middle);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.canvasItem {
  padding: 2vh;
  font-size: 2vh;
  font-weight: 700;
}

.canvasItem:hover {
  padding: 2vh;
  font-weight: 700;
  color: white;
  background-image: var(--tic-branding-gradient);
  border-radius: 5px;
}

#offcanvasTop {
  height: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.offcanvas-body {
  margin-top: 2vh;
}

.offcanvas-backdrop.show {
  opacity: unset;
  background: unset;
}

.offcanvas-backdrop {
  opacity: 100%;
  backdrop-filter: blur(10px) brightness(0.5);
}

/* end of general components  */

/* svg icons color */

.svg-color-tickitz-branding {
  opacity: 100%;
  filter: invert(23%) sepia(86%) saturate(5665%) hue-rotate(276deg)
    brightness(81%) contrast(114%);
}

/* end of svg icon color */

/* months scroll component */

.months-scroll {
  padding: 25px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  transition: 0.5s;
  gap: 20px;
}

.months-scroll-item {
  flex-grow: 1;
  min-width: 125px;
  color: var(--tic-branding-color-middle);
  background-color: transparent;
  border-color: var(--tic-branding-color-middle);
}

.months-scroll-item:hover {
  color: #ffffff;
  background-color: var(--tic-branding-color-middle);
  border-color: var(--tic-branding-color-middle);
}

.months-scroll-item:active {
  color: #ffffff;
  background-color: var(--tic-branding-color-middle);
  border-color: var(--tic-branding-color-middle);
}

/* end of months scroll component */

/* movie scroll component */

.movie-scroll {
  padding: 25px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  transition: 0.5s;
  gap: 20px;
}

.movie-scroll-card {
  flex-grow: 1;
  min-width: 180px;
  padding: 20px;
  background-color: transparent;
}

.movie-scroll-card button {
  width: 100%;
  color: var(--tic-branding-color-middle);
  border-color: var(--tic-branding-color-middle);
}

.movie-scroll-card button:hover {
  width: 100%;
  color: white;
  background-color: var(--tic-branding-color-middle);
  border-color: var(--tic-branding-color-middle);
}

.movie-scroll-card-img {
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.movie-scroll-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--tic-color-black);
}

.movie-scroll-genres {
  font-size: 12px;
  font-weight: 400;
  color: var(--tic-color-muted);
}

/* end of movie scroll component */

/* header */

nav {
  align-items: center;
}

#nav-left-item a {
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--tic-color-nav);
  padding-left: 2.5vh;
  padding-right: 2.5vh;
}

#nav-right-item {
  color: var(--tic-branding-color-middle);
  text-decoration: none;
}

#nav-right-item button {
  font-size: 14px;
  font-weight: 700 !important;
}

#header-left-section h1 {
  background-clip: text;
  font-size: 56px;
  font-weight: 700 !important;
  background: var(--tic-branding-color-middle);
  background: var(--tic-branding-gradient);
  /* i thing it's will broke in some devices */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header-left-section p {
  color: var(--tic-color-muted);
  font-size: 24px;
  font-weight: 400 !important;
}

/* end of header */

/* now showing section */

#now-showing {
  padding: 50px 20px 30px 20px;
  background-color: var(--tic-color-section);
}

#now-showing h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--tic-branding-color-middle);
}

/* end now showing section */

/* upcoming movies section */

#upcoming-movies {
  padding: 50px 20px 30px 20px;
  background-color: #fff;
}

#upcoming-movies h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--tic-branding-color-middle);
}

/* end of upcoming movies section */

/* subcription section */

#call-to-action h1 {
  background-clip: text;
  font-size: 48px;
  font-weight: 700 !important;
  background: var(--tic-branding-color-middle);
  background: var(--tic-branding-gradient);
  /* i thing it's will broke in some devices */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#call-to-action p {
  color: var(--tic-color-muted);
  font-size: 24px;
  font-weight: 400 !important;
}

/* end ofsubcription section */

/* footer */

.footer-item-title {
  font-size: 16; 
  font-weight: 700; 
  color: var(--tic-color-black-absolute);
}

.footer-item-content {
  font-size: 16; 
  font-weight: 400; 
  color: var(--tic-color-muted);
}

/* end of footer */

/* mobile rules */
/* width reference get from bootstrap lg break point */

.mobile-component {
  display: none;
}

@media (max-width: 992px) {
  .mobile-component {
    display: unset;
  }

  .desktop-component {
    display: none;
  }

  #header-left-section p {
    margin-bottom: 0px;
  }

  #header-left-section h1 {
    margin-bottom: 2vh;
  }

  footer {
    text-align: center;
  }

}

/* end of mobile rules */
