:root {
  --tic-nav-link-color: #414141;
  --tic-branding-color: #5f2eea;
  --tic-branding-hover-color: #4b27af;
  --tic-muted-color: #a0a3bd;
  --tic-section-color: #f5f6f8;
  --tic-color-black: #14142b;
}

body {
  margin: 0px;
  font-family: "Mulish", sans-serif;
  
  /* hide scrollbar on chromium base browser */
  ::-webkit-scrollbar{
    display: none;
  }
  
}

body a {
  text-decoration: none;
}

/* general components */

.btn-primary {
  background-color: var(--tic-branding-color);
  border-color: var(--tic-branding-color);
}

.btn-primary:hover {
  background-color: var(--tic-branding-hover-color);
  border-color: var(--tic-branding-hover-color);
}

.text-indicator {
  border-bottom: 3px solid var(--tic-branding-color);
  padding-bottom: 5px;
}

/* end of general components  */

/* months scroll component */

.months-scroll {
  padding: 25px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
}

.months-scroll-item {
  flex-grow: 1;
  min-width: 125px;
  color: var(--tic-branding-color);
  background-color: transparent;
  border-color: var(--tic-branding-color);
}

.months-scroll-item:hover {
  color: #ffffff;
  background-color: var(--tic-branding-color);
  border-color: var(--tic-branding-color);
}

.months-scroll-item:active {
  color: #ffffff;
  background-color: var(--tic-branding-color);
  border-color: var(--tic-branding-color);
}

/* end of months scroll component */

/* movie scroll component */

.movie-scroll {
  padding: 25px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  gap: 20px;
}

.movie-scroll-card {
  flex-grow: 1;
  min-width: 180px;
  padding: 20px;
  background-color: transparent;
}

.movie-scroll-card button {
  width: 100%;
  color: var(--tic-branding-color);
  border-color: var(--tic-branding-color);
}

.movie-scroll-card button:hover {
  width: 100%;
  color: white;
  background-color: var(--tic-branding-color);
  border-color: var(--tic-branding-color);
}

.movie-scroll-card-img {
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

.movie-scroll-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--tic-color-black);
}

.movie-scroll-genres {
  font-size: 12px;
  font-weight: 400;
  color: var(--tic-muted-color);
}

/* end of movie scroll component */

/* header */

#nav-left-item a {
  font-size: 14px;
  font-weight: 600 !important;
  color: var(--tic-nav-link-color);
  text-decoration: none;
  padding: 20px;
}

#nav-right-item {
  color: var(--tic-branding-color);
  text-decoration: none;
  padding: 20px;
}

#nav-right-item button {
  font-size: 14px;
  font-weight: 700 !important;
}

#header-left-section h1 {
  color: var(--tic-branding-color);
  font-size: 56px;
  font-weight: 700 !important;
}

#header-left-section p {
  color: var(--tic-muted-color);
  font-size: 24px;
  font-weight: 400 !important;
}

#header-left-section {
  margin: 20px 0px 20px 0px;
}

#header-right-section {
  margin: 0px 0px 0px 0px;
}

/* end of header */

/* now showing section */

#now-showing {
  padding: 50px 20px 30px 20px;
  background-color: var(--tic-section-color);
}

#now-showing h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--tic-branding-color);
}

/* end now showing section */

/* upcoming movies section */

#upcoming-movies {
  padding: 50px 20px 30px 20px;
  background-color: #fff;
}

#upcoming-movies h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--tic-branding-color);
}

/* end of upcoming movies section */
